<div class="container">
	<form class="signIn" action="/signin" method="POST"> 
        <h3>Welcome</br>Back !</h3>
        <h4>Please enter your phone number below.</h4>
        <!-- <h4>Please enter you token and phone number below.</h4> -->
		<!-- <input type="text" name="token" placeholder="Insert Token" autocomplete='off' reqired value="939492b1fb10f6792be994da09f41dac6c5815495624b45b"/> -->
		<input type="password" name="number" placeholder="Insert phone Number" reqired value=""/>
		<button class="form-btn dx" type="submit">Log In</button>
	</form>
</div> 