<div class="container">
	<form class="signIn" action="/verify" method="POST"> 
        <h3>Verification successfully</h3>
        <h4>Witamy w twojej aplikacji, czymkolwiek ona jest</h4>
	</form>
</div> 